/* Font */
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);
@import url('https://unpkg.com/css.gg/icons/all.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


*:focus {
    outline: none;
}

body {
    overflow-x: hidden;
}

li {
  list-style: none;
}

/* Colors */
:root {
    --black: #000000;
    --theme-white: #FDFDFD;
    --white: #ffffff;
    --theme-blue: #144F89;
    --body-gray: #252525;
    --romance: #717171;
    --hover-theme-blue: #0f3b68;
}

::selection {
    background: var(--theme-blue);
    color: var(--white);
}

/* Navbar and Navbar.sticky Start */

.content {
    max-width: 1920px;
    margin: 0 10px;
    padding: 0px 20px;
}

.navbar {
    position: fixed;
    background: linear-gradient(to right, var(--white)15%, var(--body-gray) 25.12%);
    z-index: 5;
    width: 100%;
    padding: 40px 40px;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 5px 40px;
    transition: all 0.3s ease;
}

.navbar .logo {
    transition: all 0.3s ease;
}

.navbar.sticky .logo {
    padding: 5px 0;
}

.navbar.sticky .menu-list li a{
    letter-spacing: 0.5px;
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu-list {
    display: inline-flex;
    list-style-type: none;
    transition: all 0.5s ease;
}

.navbar .menu-list.active {
    left: 0%;   
}

.menu-list li a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: var(--theme-blue);
}

.icon {
    color: var(--white);
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

/* Banner Section Start */
.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/06.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 

section.banner .container {
    color: var(--white);
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 10px;
}

section.banner h1 {
    color: var(--white);
    letter-spacing: 3px;
    font-size: 80px;
    font-weight: 700;
}

/* Banner Section End */
.box_container {
    display: flex;
    justify-content: center;
}

.message_container {
    width: 1075px;
    height: 80px;
    background: var(--body-gray);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-40px);
    border-radius: 5px;
    padding: 0px 38px 0px 38px;
}

.message_container h4 {
    font-size: 16px;
    letter-spacing: 0.5px;
}

.message_container .send_button {
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    letter-spacing: 1px;
    color: var(--white);
    background: var(--theme-blue);
    padding: 15px;
    margin-left: 15px;
    font-weight: 600;
    transition: 0.3s;
}

.send_button:hover {
    background: var(--hover-theme-blue);
    cursor: pointer;
}

/* Meist Section start */
.main_wrapper {
    max-width: 1075px;
    display: flex;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 45px;
}

.main_wrapper h3 {
    color: #717171;
    margin-bottom: 30px;
}

section p {
    width: 1075px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 18px;
    font-weight: 500;
}

.wrapper {
    width: 1075px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.wrapper .fa-solid {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 20px;
    font-size: 35px;
    color: var(--theme-blue);
}

.wrapper h3 {
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

.wrapper span {
    font-size: 18px;
    font-weight: bold;
}

.wrapper span.description {
    font-size: 18px;
    font-weight: 400;
}

.first_container {
    width: 300px;
    height: 150px;
    text-align: left;
}

.second_container {
    width: 300px;
    height: 150px;
    text-align: left;
}

.third_container {
    width: 300px;
    height: 150px;
    text-align: left;
}

.third_container .fa-solid {
    margin-left: -20px;
}
/* Meist Section End */

/* Why to Choose Us Section Start */
.toChoose_wrapper {
    width: 1920px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
}

.toChoose_wrapper h6 {
    color: var(--black);
    font-size: 35px;
}

.toChoose_wrapper span {
    font-size: 35px;
    color: var(--theme-blue);
}

/* Why to Choose Us Section End */
/* Our Services Section Start */
.ourServices {
    max-width: 1920px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: linear-gradient(to right, var(--white)15%, var(--body-gray) 25%);
}

.ourServices h6 {
    font-size: 30px;
    color: var(--white);
}

.ourServices span {
    font-size: 30px;
    color: var(--theme-blue);
}

.main_title {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 35px;
    font-size: 30px;
    color: var(--romance);
}

.services_wrapper {
    max-width: 1150px;
    height: 500px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0px 20px;
    text-align: center;
}

.services_wrapper img {
    margin-bottom: 25px;
}

.services_wrapper span {
    color: var(--theme-blue);
    font-weight: 700;
}

.card_container_1 {
    width: 200px;
    height: 350px;
    line-height: 43px;
    margin-bottom: 30px;
}

.card_container_2 {
    width: 200px;
    height: 350px;
    line-height: 27px;
}

.card_container_3 {
    width: 200px;
    height: 350px;
    line-height: 27px;
    margin-bottom: -10px;
}


/* Our Services Section End */

/* Finished Work Section Start */
.galery_container {
    width: 1920px;
    height: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, var(--white)15.7%, var(--body-gray) 25.85%);
}

.title_container h6 {
  margin-top: 5px;
  padding: 10px 20px;
  color: var(--white);
  font-size: 28px;
  margin-bottom: -20px;
}

.title_container span {
    color: var(--theme-blue);
}

.image_container {
    width: 1920px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 80px;
    margin-top: -20px;
}

.image_container img {
    width: 460px;
    height: 340px;
    margin: 15px 15px;
}

.galery_container button {
    background: var(--theme-blue);
    border: 0;
    color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
    margin: 25px 0px 25px 0px;
    transition: all 0.3s ease;
}

.galery_container button:hover {
    cursor: pointer;
    background: var(--hover-theme-blue);
}


/* Finished Work Section End */

.text_wrapper {
    width: 450px;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
}

.main_text {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.secondary_text {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 20px;
}

/* Contact Us Section Start*/
.contact_wrapper {
    max-width: 1920px;
    height: auto;
    background: linear-gradient(to right, var(--white)15.7%, var(--body-gray) 26%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.info_wrapper {
    width: 500px;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.row_wrapper {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100px);
}

.row_wrapper h6 {
    font-weight: bold;
    font-size: 18px;
}

.row_wrapper span {
    font-weight: 500;
    font-size: 18px;
}

.circle_item {
    width: 80px;
    height: 80px;
    background: var(--theme-blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.circle_item .fa-solid, .fa-regular {
    color: var(--white);
    font-size: 26px;
}

.form_wrapper {
    width: 1420px;
    height: 750px;
    padding-top: 35px;
    margin-left: 225px;
}

.bottom_logo {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(200px);
}

.info_wrapper .bottom_logo {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.bottom_logo span {
    font-size: 28px;
    font-weight: bold;
}

.input_container {
    width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 40px;
}

.input_container input {
    width: 260px;
    padding: 10px;
    background: transparent;
    color: fff;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -85px;
}

.input_container input[placeholder] {
    color: var(--white);
}

.form_wrapper textarea {
    resize: none;
    width: 950px;
    height: 400px;
    background: transparent;
    border: 2px solid white;
    margin-bottom: 20px;
}

.form_wrapper textarea[placeholder] {
    color: white;
    padding: 10px;

}

.form_wrapper button {
    padding: 10px;
    background: var(--theme-blue);
    border: 0;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease;
}

.form_wrapper button:hover {
    cursor: pointer;
    background: var(--hover-theme-blue);
}

.data_container {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-left: 220px;
    line-height: 22px;
    font-weight: 500;
    flex-wrap: wrap;
    color: white;
}
/* Second Footer Section Start */
footer.bottom_container {
    max-width: 1920px;
    width: 1920px;
    height: 50px;
    background: var(--theme-blue);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: auto;
}

/* Second Footer Section End */

.responsiveBtn {
    display: none;
}

/* Responsiveness */

@media only screen and (max-width : 1224px) {
  .toChoose_wrapper {
    width: 1224px;
  }

  .services_wrapper {
    width: 1224px;
    margin: auto;
    padding: 0px 20px;
  }

  .galery_container {
    width: 1224px;
  }

  .image_container {
    width: 1224px;
  }

  .galery_container img {
    width: 350px;
  }

  .contact_wrapper {
    width: 1224px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info_wrapper {
    width: 300px;
    margin-left: 750px;
    margin-right: -200px;
  }

  .form_wrapper {
    width: 1224px;
    margin-right: 700px;
  }

  .input_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .input_container input {
    width: 190px;
    margin-right: 89px;
  }

  .form_wrapper textarea {
    width: 824px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
  }

  .form_wrapper button {
    margin-left: 5px;
  }

  .bottom_container {
    width: 1224px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .bottom_container span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -700px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .main_wrapper {
      padding: 0px 40px;
    }

    .wrapper {
      padding: 0px 40px;
    }

    .toChoose_wrapper  {
      width: 1024px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }

    .services_wrapper {
      width: 1024px;
      padding: 0px 40px
    }

    .galery_container {
      width: 1024px;
      padding: 0px 40px;
    }

    .image_container {
      width: 1024px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }

    .image_container img.responsive {
      display: none;
    }

    .info_wrapper {
      margin-right: 50px;
    }

    .info_wrapper img {
      padding-left: 20px;
    }

    .info_wrapper .service {
      font-size: 24px;
    }

    .input_container {
      width: 670px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-left: -150px;
    }
    
    .input_container input {
      width: 200px;
    }

    .form_wrapper textarea {
      width: 645px;
      margin-left: -220px;
    }

    .form_wrapper button {
      margin-left: -220px;
    }

    .data_container {
      transform: translateX(-292px);
    }

    .bottom_container {
      width: 1024px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }

    .bottom_container span {
      transform: translateX(-80px);
    }
}

/* Max-width: 868px */
@media (max-width: 868px) {
    /* Font-Awesome Buttons */
    .icon {
        display: block;
    }

    .icon.cancel-btn:hover {
        transform: rotate(90deg);
        transition: all 0.3s ease;
    }

    /* Navbar */
    .navbar {
      background: var(--body-gray);
      padding: 5px 0px;
    }

    .navbar.sticky {
        padding: 20px 0px;
    }

    .navbar .menu-list {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 868px;
        background: var(--body-gray);
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 0.3s ease;
    }

    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu-list li a {
        font-size: 22px;
    }

    .saada_paring {
        display: none;
    }

    .responsiveBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        font-size: 20px;
        transition: all 0.3s ease;
        border: 0;
        animation-name: translate 5s linear infinite;
    }

    @keyframes translate {
      0% {
          transform: translateY(0px);
      }

      50% {
          transform: translateY(-5px);
      }

      100% {
          transform: translateY(0px);
      }
  }


    .banner .responsiveBtn {
        width: 60px;
        height: 60px;
        background: var(--theme-blue);
        margin-top: auto;
        margin-bottom: 50px;
        border-radius: 5px;
        font-size: 22px;
    }

    .banner .responsiveBtn:hover {
        cursor: pointer;
        background: var(--hover-theme-blue);
    }

    i#arrow-down {
        animation: translate 1s linear infinite;
    }

    .wrapper {
      width: 450px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      height: 500px;
      margin-top: 45px;
    }

    .first_container {
      margin-top: 20px;
    }

    .second_container {
      margin-top: 20px;
    }

    .third_container {
      margin-top: 60px;
      margin-bottom: -20px;
    }

    .third_container .fa-solid {
      margin-left: 1px;
    }

    .toChoose_wrapper {
      margin-top: 50px;
      width: 750px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ourServices {
      background: var(--body-gray);
    }

    .services_wrapper {
      width: 868px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .card_container_1 {
      width: 200px;
      margin-top: 20px;
      transform: translateY(5px);
    }

    .card_container_1 img {
      margin-bottom: -10px;
    }
    
    .card_container_2 {
      width: 200px;
    }

    .card_container_3 {
      margin-top: -10px;
      width: 200px;
    }

    .galery_container {
      width: 868px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      background: var(--body-gray);
    }


    .image_container {
      width: 868px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-45px);
    }

    .contact_wrapper {
      width: 868px;
      height: 1200px;
      background: var(--body-gray);
    }

    .form_wrapper {
      width: 450px;
    }

    .info_wrapper {
      width: 868px;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transform: translate(450px, -625px);
      color: white;
    }

    .input_container {
      width: 565px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      margin-top: 25px;
      transform: translate(18px);
    }

    .input_container input {
      width: 868px;
    }

    .form_wrapper textarea {
      width: 565px;
    }

    .form_wrapper {
      transform: translate(-400px, -150px);
    }

    .bottom_logo img{
      display: none;
    }

    .bottom_logo .service{
      display: none;
    }

    .data_container {
      width: 500px;
      transform: translateX(-440px);
    }

    .bottom_container {
      width: 450px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }

    .bottom_container span {
      transform: translateX(-175px);
    }

}

@media only screen and (max-width : 320px) {
  .main_wrapper {
    padding: 0px 10px;
  }

  .wrapper {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper h3 {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .first_container {
    width: 320px;
    text-align: center;
    padding: 0px 10px;
    font-size: 10px;
  }

  .second_container {
    width: 320px;
    text-align: center;
    padding: 0px 10px;
    font-size: 10px;
  }

  .third_container {
    width: 320px;
    text-align: center;
    padding: 0px 10px;
    font-size: 10px;
  }

  .toChoose_wrapper {
    width: 320px;
  }

  .toChoose_wrapper span {
    font-size: 18px;
  }

  .toChoose_wrapper h6 {
    font-size: 18px;
  }

  .ourServices {
    width: 320px;
  }

  .ourServices h6 {
    font-size: 18px;
  }

  .ourServices span {
    font-size: 18px;
  }

  .main_title {
    width: 320px;
    text-align: center;
    padding: 0px 10px;
  }

  .services_wrapper {
    width: 320px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
  }

  .card_container_3 {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .title_container {
    width: 320px;
    transform: translate(-220px, -50px);
  }

  .image_container {
    transform: translateX(-110px);
  }

  .image_container img {
    width: 300px;
    height: 300px;
    transform: translateX(-150px);
  }

  .image_container img.responsive {
    display: none;
  }

  .text_wrapper {
    width: 320px;
    font-size: 15px;
  }

  .main_text {
    width: 320px;
    padding: 5px 10px;
  }

  .form_wrapper {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: -500px;
  }

  .form_wrapper textarea {
    width: 280px;
    margin-left: -49px;
  }

  .input_container {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .input_container input {
    width: 280px;
  }

  .data_container {
    width: 320px;
    height: auto;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .data_container span {
    transform: translate(-165px, 550px);
  }

  .form_wrapper button {
    width: 280px;
    margin-left: -50px;
    padding: 20px;
    font-size: 18px;
  }

  hr{
    margin: 10px 0px;
    width: 350px;
    opacity: 0.3;
  }

  .bottom_container {
    width: 320px;
  }

  .bottom_container span {
    margin-right: 550px;
    font-size: 14px;
  }
}